<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="Layout/Layout :: Head" />
<body>

	<header th:replace="Layout/Layout :: NavBar" />

	<div class="container">
		<h1 th:text="${titulo}"
			class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h1>

		<div th:object="${productos}" th:remove="tag">
			<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
				<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
		</div>
		<form th:action="@{/cloudforall/form}" th:object="${productos}"
			method="post">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Id producto</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{idProducto}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('idProducto')}"
						th:errors="*{idProducto}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Cantidad</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{cantidadProducto}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('cantidadProducto')}"
						th:errors="*{cantidadProducto}"></small>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">ID Preventa</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{idPreventa}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('idPreventa')}"
						th:errors="*{idPreventa}"></small>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-6">
					<input type="submit" value="Buscar" class="btn btn-primary" />
				</div>
			</div>

		</form>
	</div>
</body>
</html>